.weather h1 {
    text-align: center;
    color: #878787;
    display: block;
    font-family: arial, sans-serif;
    line-height: 28px;
    text-align: left;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: x-large;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
    
  }
  li {
    color: #878787;
    list-style: none;
    display: block;
    font-weight: lighter;
    font-size: medium !important;
    line-height: 22px;
    text-align: left;
  }
  li:first-letter {
    text-transform: capitalize;
  }
  
  .button {
    display: inline-block;
    width: 110px;
    margin: 10px;
  }
  
  .form {
    width: 200px;
    display: inline-block;
    margin: 10px;
  }
  .temperature {
    color: rgb(32, 33, 36);
    display: inline;
    font-family: arial, helvetica, sans-serif;
    font-size: 50px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    height: auto;
    line-height: normal;
    text-align: left;
    user-select: none;
    width: auto;
  }
  
  canvas {
    height: 50px;
    width: 50px;
    margin-right: 0;
    display: inline-block;
  }
  .units {
    position: relative;
    font-size: 14px;
    top: -26px;
  }
  .details {
    position: relative;
    top: 20px;
  }
